include LICENSE
include README.md
include CONTRIBUTING.md
include CHANGELOG.md

recursive-include docs *
recursive-include assets *
recursive-include src/dev_foundation/templates *

global-exclude *.py[cod]
global-exclude .DS_Store

prune build
prune dist
